#tagbox {
  white-space: nowrap;
}

#submittags {
  vertical-align: top;
  width: 8em;
}

#tagentry {
  display: flex;
}

#tagentry * {
  margin: 0.2em;
}

.lane {
  width: 10em;
  height: 20em;
  color: #4f403c;
  margin: 2px;
}
