body {
  background:
    linear-gradient(90deg, #FCF4EA 20px, transparent 1%) center,
    linear-gradient(#FCF4EA 20px, transparent 1%) center,
    #D6C2AB;
  background-size: 22px 22px;
}

#tagbox {
  white-space: pre-wrap;
}

#submittags {
  vertical-align: top;
  width: 8em;
}

#tagentry {
  display: flex;
}

#tagentry * {
  margin: 0.2em;
}

#lanebuilder {
  
}

.road {
  display: flex;
}

.lane {
  width: 100px;
  height: 200px;
  font-size: 45pt;
  background: #201a19;
  color: white;
  margin: 2px;
  border: 0;
  border-left: 2px white solid;
  border-right: 2px white solid;
  text-align: center;
}

.lane p {
  margin: 0;
}
