body {
  background:
    linear-gradient(90deg, #FCF4EA 20px, transparent 1%) center,
    linear-gradient(#FCF4EA 20px, transparent 1%) center,
    #D6C2AB;
  background-size: 22px 22px;
}

#tagbox {
  white-space: pre-wrap;
  width: 70%;
}

#submittags {
  vertical-align: top;
  width: 30%;
}

#tagentry {
  display: flex;
}

#tagentry * {
  margin: 0.2em;
}

#lanebuilder {
  
}

.road {
  display: flex;
}

.lane-element {
  height: 194px;
}

.pre-spacer {
  width: 4px;
  background: black;
}

.post-spacer {
  width: 4px;
  background: black;
}

.marker-outside {
  width: 0px;
  border-left: 2px solid white;
  background: black;
}

.marker-mid {
  width: 0px;
  border-left: 2px dashed yellow;
  background: black;
}

.center-left, .center-right {
  width: 0px;
  border-left: 2px solid green;
  background: black;
}

.lane {
  width: 84px;
  height: 194px;
  font-size: 45pt;
  background: #201a19;
  color: white;
  margin: 0;
  border: 0;
  text-align: center;
}

.lane p {
  margin: 0;
}


