table {
  table-layout: fixed;
  width: 100%;
  border: 1px solid #888;
  border-collapse: collapse;
  min-width: 50em;
  font-size: smaller;
  margin-top: 1em;
  margin-bottom: 1em;
}

th, td {
  padding: 0.1em 0.5em;
  border: 1px solid #AAA;
}

table.ttools th.sorted {
  background-color: #B0BADF;
}

table.ttools td.sorted {
  background-color: #DADEED;
}

.ttools .tools-button,
.ttools .clear-input {
  float: right;
}

.ttools .no-results {
  text-align: center;
}

.ttools input {
  margin: 0.2em;
}
