
/*
:root {
  --bg: white;
  --text: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: black;
    --text: white;
  }
}

#color-mode:checked ~ * {
  --bg: black;
  --text: white;
}

@media (prefers-color-scheme: dark) {
  #color-mode:checked ~ * {
    --bg: white;
    --text: black;
  }
}

.color-scheme-wrapper {
  min-height: 100vh;
  background: var(--bg);
  color: var(--text);
}

.light-mode-hide {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .dark-mode-hide {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .light-mode-hide {
    display: initial;
  }
}

*/




.buttons {
  margin: 2em auto 2em;
}

.buttonbox {
  text-align: center;
  margin: 0 0.6em 1em;
}

.button {
  padding:0.8em;
  color:#d8d8d8;
  background:#263435;
  font-weight:bold;
  display:block;
  box-shadow:3px 3px 5px 3px #828282;
  margin: 0 0 0.1em;
}

.button:hover {
  text-decoration:none;
  opacity:0.9;
}

@media only screen and (min-width: 48em) {
  .buttons { margin: 1em auto 2em; }
  .buttonbox {
    float: center;
    width: 44%;
  }
}


.gpx {
  border: 2px #aaa solid;
  border-radius: 5px;
  box-shadow: 0 0 3px 3px #ccc;
  margin: 1em auto;
}

.gpx .map { 
  border: none; 
  width: 100%; 
  height: 48em; 
  margin: 0; 
}

.bigbutts {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  border: 0;
}

.bigbutt {
  padding: 1rem 4%;
  color: black;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: calc(100%);
  max-height: 250px;
  background: tan;
  transition: transform .2s ease;
  border: 1px solid gray;
  box-shadow: 5px 5px gray;
  transition-property: box-shadow,transform;
  transition-duration: .2s,.3s;
  transition-timing-function: ease;
  display: block;
  box-sizing: border-box;
}
