#page, #container {
    border-radius: 2px;
    border: 1px solid black;
    padding: 4px;
}

.group {
    position: relative;
    border-radius: 4px;
    
    margin: 1em;
    padding: 12px;
    box-shadow: 6px 4px 6px gray;
    transition: all 0.05s linear;
    background-color: white;
}

.requirement {
    box-shadow: none;
    border: 1px solid #888;
}

.group-logical {
    border: 2px solid #888;
    margin: 1em;
}


pre {
    margin: 4px;
    padding: 12px;
    border: 1px solid #080;
}
